#{extends 'mainUsuario.html'/}
<div class="page-header">
    <h1><i class="fa fa-user-md"></i>&nbsp;Solicitud para asesoria con profesional.</h1>
</div>
<div class="col-xs-12 bs-callout bs-callout-danger">
    <h4 class="text-center">Profesor Disponibles</h4>
    <br/>
    <div class="table-responsive">
        <table class="table table-hover table-bordered" id="tablaDeProfesores">
            <thead>
            <tr class="warning">
                <th class="text-center">Profesor</th>
                <th class="text-center">Horario</th>
                <th class="text-center">Acción</th>
            </tr>
            </thead>
            <tbody>
            #{list items:profesores,as:'profesor'}
                #{if profesor.horario != null}
                <tr>
                    <td class="text-center">${profesor.nombreCompleto}</td>
                    <td class="text-center">
                        <li><strong>Entrada: &nbsp;</strong>${profesor.horario.get('entrada')}</li>
                        <li><strong>Salida: &nbsp;</strong>${profesor.horario.get('salida')}</li>
                    </td>
                    <td class="text-center"><a href="#"  data-profesor="${profesor.altKey}" class="help reservarHora datepicker-dropdown" title="Agendar Hora"><span
                            class="glyphicon glyphicon-calendar"></span></a></td>
                </tr>
                #{/if}
            #{/list}
            </tbody>
        </table>
    </div>

</div>
#{include 'InicioUsuario/fragments/reservaDeHoras.html'/}
<script type="text/javascript">
    $('#tablaDeProfesores').on('click','a.reservarHora',function(){
       var $altKeyProfesor = $(this).data('profesor');
       var $altKeyCliente = '${session.get('altKey')}';
       $('#fechaDeAsesoria').modal('show');
       $('#agendarAsesoria').click(function(){
           $("ul.errors-fields").remove();
           var $fechaDeAsesoria = $('#fechaDeAsesoriaForm').serializeArray();
           $fechaDeAsesoria.push({
               name: "altKeyCliente",
               value: $altKeyCliente
           });
           $fechaDeAsesoria.push({
               name: "altKeyProfesor",
               value: $altKeyProfesor
           });
            console.log($fechaDeAsesoria);
            $.ajax({
                url: '@{InicioUsuario.reservarHoraParaAsesoria()}',
                method: 'post',
                data: $fechaDeAsesoria,
                success: function(){
                    location.href = '@{InicioUsuario.misCitasParaAsesoria()}';
                },
                error: function(resp){
                    if (resp.status == 400) {
                        $.each(resp.responseJSON.fieldErrors, function (name, errors) {
                            var $input = $(":input[name='" + name + "']");
                            $input.closest("div.form-group").addClass("has-error");
                            var $ul = $("<ul class='errors-fields list-inline'></ul>");
                            $.each(errors, function (i, elem) {
                                var $li = $("<li class='text-danger'/>");
                                $li.text(elem);
                                $ul.append($li);
                            });
                            $input.after($ul);
                        });
                    }
                }
            });
        });
    });

</script>
