<div class="bs-callout bs-callout-info">
    <div class="table-responsive">
        <table class="table table-bordered table-hover" id="misContactos">
            <thead>
            <tr class="warning">
                <th class="text-center">Fecha</th>
                <th class="text-center">Asunto</th>
                <th class="text-center">Estado</th>
                <th class="text-center">Acción</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            #{ifnot contactosPorRevisar}
                <td colspan="4" class="text-center"><small><i>No se registran contactos.</i></small></td>
            #{/ifnot}
            #{else }
                #{list items:contactosPorRevisar,as:'c'}
                    <td class="text-center">${c.fechaDeContacto.format("dd/MM/yyyy")}</td>
                    <td class="text-center">${c.asunto}</td>
                    <td class="text-center">${c.estadoContacto}</td>
                    <td class="text-center">
                        <a href="#" data-key-Contacto="${c.altKeyContacto}" class="responder help" title="Responder"><span class="glyphicon glyphicon-share"></span></a>
                    </td>
                #{/list}
            #{/else}
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
</div>
#{include 'ContactoController/responderContacto.html'/}
<script type="text/javascript">
    $('#misContactos').on('click','a.responder',function(){
        var $altKeyContacto = $(this).data('keyContacto');
        $('#appendResponderContacto').empty();
        $('#appendResponderContacto').load('/responderContacto/'+$altKeyContacto);
        $('#responderContacto').modal('show');
    });

</script>