<div class="bs-callout bs-callout-success">
    <div class="table-responsive">
        <table class="table table-bordered table-hover" id="respuestas">
            <thead>
            <tr class="warning">
                <th class="text-center">Fecha</th>
                <th class="text-center">Asunto</th>
                <th class="text-center">Estado</th>
                <th class="text-center">Acción</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            #{ifnot respuestas}
                <td colspan="4" class="text-center"><small><i>No se registran contactos.</i></small></td>
            #{/ifnot}
            #{else }
                #{list items:respuestas,as:'r'}
                    <td class="text-center">${r.fechaDeContacto.format("dd/MM/yyyy")}</td>
                    <td class="text-center">${r.asunto}</td>
                    <td class="text-center">${r.estadoContacto}</td>
                    <td class="text-center">
                        <a href="#" data-key-Contacto="${r.altKeyContacto}" class="verDetalleContacto help" title="Ver Respuesta"><span class="glyphicon glyphicon-search"></span></a>&nbsp;&nbsp;
                    </td>
                #{/list}
            #{/else}
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
</div>
#{include 'InicioUsuario/fragments/detalleContacto.html'/}
<script type="text/javascript">
    $('#respuestas').on('click','a.verDetalleContacto',function(){
        var $altKeyContacto = $(this).data('keyContacto');
        $('#appendContacto').empty();
        $('#appendContacto').load('/verDetalleContacto/'+$altKeyContacto);
        $('#detalleContacto').modal('show');
    });
</script>