/*
body {
    margin: 0;
    background: url("../images/18750-weight-bar-gym-workout.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}


*/
