<form class="form-horizontal well">
    <fieldset>
        <legend>Registro de Nuevo Cliente &nbsp;<i class="fa fa-user"></i></legend>
        <div class="row">
            <div class="form-group col-md-6">
                <label class="col-md-4 control-label" for="nombres">Nombres :</label>
                <div class="col-md-8">
                    <input id="nombres" name="nombres" type="text" placeholder="Nombres" class="form-control input-md"
                           >
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="col-md-4 control-label" for="rut">R.U.T :</label>

                <div class="col-md-8">
                    <input id="rut" name="rut" type="text" placeholder="Rut" class="form-control input-md" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label class="col-md-4 control-label" for="apellidoMaterno">Apellido Materno:</label>

                <div class="col-md-8">
                    <input id="apellidoMaterno" name="apellidoMaterno" type="text" placeholder="Apellido Materno"
                           class="form-control input-md">

                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="col-md-4 control-label" for="apellidoPaterno">Apellido Paterno: </label>

                <div class="col-md-8">
                    <input id="apellidoPaterno" name="apellidoPaterno" type="text" placeholder="Apellido Paterno"
                           class="form-control input-md">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label class="col-md-4 control-label" for="fechaNacimiento">Fecha de Nacimiento:</label>

                <div class="col-md-8">
                    <input id="fechaNacimiento" name="fechaNacimiento" type="text" placeholder=""
                           class="form-control input-md" >

                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="col-md-4 control-label" for="sexo">Sexo:</label>

                <div class="col-md-4">
                    <div class="radio">
                        <label for="sexo-0">
                            <input type="radio" name="sexo" id="sexo-0" value="1" checked="checked">
                            Masculino
                        </label>
                    </div>
                    <div class="radio">
                        <label for="sexo-1">
                            <input type="radio" name="sexo" id="sexo-1" value="2">
                            Femenino
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label class="col-md-4 control-label" for="region">Region:</label>

                <div class="col-md-8">
                    <select id="region" name="region" class="form-control">
                        <option value="">Seleccione..</option>
                        #{list items:regiones, as:'region'}
                            <option value="${region.id}">${region.nombre}</option>
                        #{/list}
                    </select>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="col-md-4 control-label" for="provincia">Provincia:</label>
                <div class="col-md-8">
                    <select id="provincia" name="provincia"  class="form-control">
                        <option value="">Seleccione..</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label class="col-md-4 control-label" for="comuna">Comuna:</label>

                <div class="col-md-8">
                    <select id="comuna" name="comuna" class="form-control">
                        <option value="1">Option one</option>
                        <option value="2">Option two</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="col-md-4 control-label" for="telefono">Telefono:</label>

                <div class="col-md-8">
                    <input id="telefono" name="telefono" type="text" placeholder="Telefono" class="form-control input-md">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label class="col-md-4 control-label" for="celular">Celular:</label>

                <div class="col-md-8">
                    <input id="celular" name="celular" type="text" placeholder="Celular" class="form-control input-md">

                </div>
            </div>
            <div class="col-md-6">
            </div>
        </div>
        <legend>Usuario/Contraseña</legend>
        <div class="form-group">
            <label class="col-md-4 control-label" for="usuario">Usuario:</label>

            <div class="col-md-5">
                <input id="usuario" name="usuario" type="text" placeholder="Usuario" class="form-control input-md">

            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="password">Contraseña:</label>

            <div class="col-md-5">
                <input id="password" name="password" type="password" placeholder="Password" class="form-control input-md">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="form-group col-md-6">
                <label class="col-md-4 control-label" for="cancelar"></label>
                <div class="col-md-8">
                    <button id="cancelar" name="cancelar" class="btn btn-danger"><i class="fa fa-times"></i>&nbsp;Cancelar</button>
                    <button id="guardar" name="guardar" class="btn btn-success">Guardar <i class="fa fa-check"></i></button>
                </div>
            </div>
        </div>

    </fieldset>
</form>
#{i18n /}
<script type="text/javascript">
    $("#guardar").click(function(){
        bootbox.confirm(i18n('nuevoCliente'), function(result) {
        });
    });

    $("#region").change(function(){
       var idRegion = $("#region").val();
       var selectProvincia = $("#provincia");
        console.log(idRegion);
        if(idRegion == ''){
            selectProvincia.empty();
            selectProvincia.append($('<option>').text("Seleccione..").attr('value', ''));
        }
        $.ajax({
            url: "provincias/"+idRegion,
            method: "GET",
            success: function(provincias){
                selectProvincia.empty();
                $.each(provincias,function(k,value){
                    selectProvincia.append($('<option>').text(value.nombre).attr('value', value.id));
                });
            }
        });
    });
</script>