#{ifnot fichas}
<div class="alert alert-warning">
    <p><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;El usuario no registra ninguna ficha de salud.</p>
</div>
#{/ifnot}#{else }
<div class="table-responsive">
    <table class="table table-bordered table-hover" id="tablaFichasDeSalud">
        <thead>
        <tr class="success">
            <th class="text-center">Nº de Ficha</th>
            <th class="text-center">Fecha de Control</th>
            <th class="text-center">IMC</th>
            <th class="text-center">Estado del Cliente</th>
            <th class="text-center">Acción</th>
        </tr>
        </thead>
        <tbody>
        #{list items:fichas,as:'ficha'}
        <tr>
            <td class="text-center">${ficha.numeroDeFicha}</td>
            <td class="text-center">${ficha.fechaDeControl.format('dd/MM/yyyy')}</td>
            <td class="text-center">${ficha.imc}</td>
            <td class="text-center">${ficha.estadoDeCliente}</td>
            <td class="text-center">
                <a href="#" class="editarFicha" data-alt-Key-Ficha="${ficha.numeroDeFicha}"><span class="glyphicon glyphicon-pencil help"  title="Editar Ficha"></span></a>&nbsp;&nbsp;
                <a href="#" class="eliminarFicha" data-alt-Key-Ficha="${ficha.numeroDeFicha}"><span class="glyphicon glyphicon-remove help"  title="Eliminar Ficha."></span></a>
            </td>
        </tr>
        #{/list}
        </tbody>
    </table>
</div>
#{/else}
<div>
    <button type="button" id="nuevaFicha" class="btn btn-success">
        Nueva Ficha de Salud
    </button>
</div>
<script type="text/javascript">
    $('#nuevaFicha').click(function(){
       location.href = '@{AsesoriaController.nuevaFichaDeSalud(cliente.altKey)}';
    });
    $('#tablaFichasDeSalud').on('click','a.editarFicha',function(){
       var $numeroDeFicha = $(this).data('altKeyFicha');
       location.href = "/editarFichaDeSalud/"+$numeroDeFicha;
    });
    $('#tablaFichasDeSalud').on('click','a.eliminarFicha',function(){
        console.log("hola");
        var $numeroDeFicha = $(this).data("altKeyFicha");
        bootbox.confirm("¿Está seguro de eliminar la ficha seleccionada?",function(result){
           if(result){
               $.ajax({
                    url:"@{AsesoriaController.eliminarFichaDeSalud()}",
                    method:"post",
                    data: {numeroDeFicha:$numeroDeFicha},
                    success: function(){
                     bootbox.alert('Ficha Eliminada Con Exito',function(){
                        location.reload();
                     });
                    },
                    error: function(){
                        bootbox.alert('Error Interno',function(){
                        });
                   }
               });
           }
        });

    });
</script>