#{ifnot rutinas}
<div class="alert alert-danger">
    <p><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;El cliente no registra ninguna rutina</p>
</div>
#{/ifnot}
#{else }
<div class="table-responsive">
    <table class="table table-bordered table-hover" id="tableDeRutinas">
        <thead>
        <tr class="warning">
            <th class="text-center">Nº de Rutina</th>
            <th class="text-center">Fecha de Control</th>
            <th class="text-center">Acción</th>
        </tr>
        </thead>
        <tbody>
            #{list items:rutinas,as:'rutina'}
            <tr>
                <td class="text-center">${rutina.numeroDeRutina}</td>
                <td class="text-center">${rutina.fechaDeControl.format('dd/MM/yyyy')}</td>
                <td class="text-center">
                    <a href="@{AsesoriaController.editRutina(rutina.altKeyRutina)}" class="editarRutina"><span class="glyphicon glyphicon-pencil"></span></a>&nbsp;&nbsp;
                    <a href="#" class="borrarRutina" data-key-Rutina="${rutina.altKeyRutina}"><span class="glyphicon glyphicon-remove"></span></a>
                </td>
            </tr>
            #{/list}
        </tbody>
    </table>
</div>
#{/else}
<div>
    <button type="button" id="nuevaRutina" class="btn btn-warning">
        Ingresar Rutina
    </button>
</div>
<script type="text/javascript">
    $('#nuevaRutina').click(function(){
        location.href = '@{AsesoriaController.nuevaRutina(cliente.altKey)}';
    });

    $('#tableDeRutinas').on('click','a.borrarRutina',function(){
        var $altKeyCita = $(this).data('keyRutina');
        bootbox.confirm('¿Desea Eliminar esta rutina?',function(result){
           if(result){
               $.ajax({
                  url:"@{AsesoriaController.eliminarRutinaDeEjercicios()}",
                  method:"post",
                  data: {altKeyRutina: $altKeyCita},
                  success: function(){
                     bootbox.alert('Se elimino exitosamente la rutina de ejercicios',function(){
                        location.reload();
                     });
                  },
                  error: function(){
                      $.growl({
                          icon: "glyphicon glyphicon-warning-sign",
                          title: "&nbsp;<strong>Error Interno</strong><br>"
                      }, {
                          element: 'body',
                          type: "danger",
                          placement: {
                              form: "top",
                              align: "center"
                          },
                          spacing: 10,
                          offset: 20,
                          z_index: 1031,
                          delay: 6000,
                          animate: {
                              enter: 'animated fadeInRight',
                              exit: 'animated fadeOutLeft'
                          }
                      });
                  }
               });
           }

        });
    });
</script>