<div class="page-header">
    <h1><i class="fa fa-trophy hidden-xs">&nbsp;</i>Nueva Rutina de Ejercicios. <br/>
    <small>Cliente:&nbsp;${cliente.nombreCompleto} &nbsp;&nbsp;RUT:&nbsp;${cliente.rut}</small>
    </h1>
</div>
<form class="form-horizontal well" id="agregarEjercicioForm">
    <fieldset>
        <!-- Form Name -->
        <legend>Ejercicios a Realizar</legend>
        <div class="row">
            <div class="form-group col-md-6">
                <label class="col-md-4 control-label" for="zonaDelCuerpo">Zona Ejercitada:</label>
                <div class="col-md-8">
                    <select id="zonaDelCuerpo" name="ejercicio.zonaDelCuerpo" class="form-control">
                        <option value="">Seleccione..</option>
                    #{list items:zonasDelCuerpo,as:'zona'}
                        <option value="${zona.id}">${zona.zona}</option>
                    #{/list}
                    </select>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group col-md-6">
                <label class="col-md-4 control-label" for="ejercicio">Ejercicio:</label>
                <div class="col-md-8">
                    <select id="ejercicio" name="ejercicio.ejercicio" class="form-control">
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label class="col-md-4 control-label" for="series">Series:</label>
                <div class="col-md-8">
                    <input id="series" name="ejercicio.series" type="number" placeholder="" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group col-md-4">
                <label class="col-md-4 control-label" for="repeticiones">Repeticiones:</label>
                <div class="col-md-8">
                    <input id="repeticiones" name="ejercicio.repeticiones" type="number" placeholder="" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group col-md-4">
                <label class="col-md-4 control-label" for="tiempo">Tiempo (Seg):</label>
                <div class="col-md-8">
                    <input id="tiempo" name="tiempo" type="text"  class="form-control input-md">

                </div>
            </div>
        </div>
        <!-- Button (Double) -->
        <div class="row">
            <div class="col-md-9"></div>
            <div class="form-group col-md-3">
                <label class="col-md-4 control-label" for="cancelar"></label>
                <div class="col-md-8">
                    <button id="guardarEjercicio" name="guardarEjercicio" class="btn btn-success">Agregar</button>
                </div>
            </div>
        </div>
        <input type="hidden" name="ejercicio.altKeyRutina" value="${rutina.altKey}"/>
    </fieldset>
</form>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
            <thead>
            <tr class="warning">
                <th class="text-center">Zona Ejercitada</th>
                <th class="text-center">Ejercicio</th>
                <th class="text-center">Series</th>
                <th class="text-center">Repeticiones</th>
                <th class="text-center">Descanso/Tiempo</th>
                <th class="text-center">Acción</th>
            </tr>
            </thead>
            <tbody>
            #{list items:rutina.ejercicios,as:'ejercicio'}
            <tr>
                <td class="text-center">${ejercicio.zonasDelCuerpo.zona}</td>
                <td class="text-center">${ejercicio.tipoDeEjercicio.nombre}</td>
                <td class="text-center">${ejercicio.series}</td>
                <td class="text-center">${ejercicio.repeticiones}</td>
                <td class="text-center">${ejercicio.descanso != null ? ejercicio.descanso.format('ss'):''}</td>
                <td class="text-center"><a href="#" data-key-Ejercicio="${ejercicio.altKey}"><span class="glyphicon glyphicon-remove"></span></a></td>
            </tr>
            #{/list}
            </tbody>

    </table>
</div>
<div class="row">
   <div class="col-md-10">
   </div>
    <div class="col-md-2">
        <button type="button" id="volver" class="btn btn-primary" onclick="location.href='@{AsesoriaController.asesorarCliente('',cliente.altKey)}';">Volver</button>
    </div>
</div>
<script type="text/javascript">
    var $agregarEjercicioForm = $('#agregarEjercicioForm');
    $('#zonaDelCuerpo').change(function(){
        var $idZona = $("#zonaDelCuerpo").val();
        var $selectEjercicios = $("#ejercicio");
        if($idZona == ''){
            $selectEjercicios.empty();
            $selectEjercicios.append($('<option>').text("Seleccione..").attr('value', ''));
        }
        $.ajax({
            url: "/getEjercicios/"+$idZona,
            method: "GET",
            success: function(ejercicio){
                $selectEjercicios.empty();
                $selectEjercicios.append($('<option>').text("Seleccione..").attr('value', ''));
                $.each(ejercicio,function(k,value){
                    $selectEjercicios.append($('<option>').text(value.nombre).attr('value', value.id));
                });
            }
        });
    });
    $('#guardarEjercicio').click(function(){
        $.ajax({
          url:"@{AsesoriaController.agregarEjercicioARutina()}",
          method:"post",
          data: $agregarEjercicioForm.serialize(),
          success:function(){
              location.href = '@{AsesoriaController.editRutina(rutina.altKey)}';
          },
          error: function(){
              $.growl({
                  icon: "glyphicon glyphicon-warning-sign",
                  title: "&nbsp;<strong>Error Interno</strong><br>"
              }, {
                  element: 'body',
                  type: "danger",
                  placement: {
                      form: "top",
                      align: "center"
                  },
                  spacing: 10,
                  offset: 20,
                  z_index: 1031,
                  delay: 6000,
                  animate: {
                      enter: 'animated fadeInRight',
                      exit: 'animated fadeOutLeft'
                  }
              });
          }
        });
    });

    $('#tiempo').clockpicker({
        placement: 'bottom',
        align: 'left',
        autoclose: true,
        'default': 'now'
    });
</script>
