<h3>Ingreso de Clases <strong><small>(ingreso de clases a impartir durante la semana)</small></strong></h3>
<hr/>
<form class="form-horizontal">
    <div class="form-group">
        <label class="col-md-4 control-label" for="tipoDeClases">Tipo de Clase</label>
        <div class="col-md-5">
            <select id="tipoDeClases" name="tipoDeClases" class="form-control">
                <option value="">Seleccione..</option>
            #{list items:tipoDeClases,as:'clase'}
                <option value="${clase.id}">${clase.tipo}</option>
            #{/list}
            </select>
        </div>
    </div>
</form>