#{extends 'main.html'/}
#{set title:'Acerca De' /}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Acerca de</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquam sem consectetur, semper justo sit amet, lobortis risus. Integer finibus nisl et turpis pulvinar, et cursus lectus egestas. Vivamus sodales ex sed metus cursus, non scelerisque lorem scelerisque. Phasellus sed sem ut urna volutpat fermentum consequat eu quam. Aliquam erat volutpat. Aliquam ut nisl tellus. Vestibulum sollicitudin quis urna eu ullamcorper.</p>
            </div>
            <div class="col-lg-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquam sem consectetur, semper justo sit amet, lobortis risus. Integer finibus nisl et turpis pulvinar, et cursus lectus egestas. Vivamus sodales ex sed metus cursus, non scelerisque lorem scelerisque. Phasellus sed sem ut urna volutpat fermentum consequat eu quam. Aliquam erat volutpat. Aliquam ut nisl tellus. Vestibulum sollicitudin quis urna eu ullamcorper.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">

            </div>
        </div>
    </div>

