
<div ng-controller="fichaCliente">
<div class="page-header">
    <h2 class="text-center"><i>Ficha de Cliente</i></h2>
</div>
<div class="row">
    <div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 text-center">
                        <img src="@{'/public/images/photo.png'}" alt="" class="center-block img-circle img-responsive">
                    </div>
                    <!--/col-->
                    <div class="col-xs-12 col-sm-8">
                        <h3 class="text-center">${cliente.nombres}&nbsp;${cliente.apellidoPaterno}
                            &nbsp;${cliente.apellidoMaterno}</h3>
                        <hr/>
                        <p><strong>Rut: </strong> ${cliente.rut} </p>

                        <p><strong>Fecha Nacimiento: </strong> ${cliente.fechaNacimiento.format("dd MMMM yyyy","es")}
                        </p>
                        <p><strong>Sexo: </strong> #{if cliente.genero == 0}
                            Masculino
                        #{/if}
                        #{else }
                            Femenino
                        #{/else} </p>
                        <p><strong>Dirección: </strong> ${cliente.direccion}</p>
                        <p><strong>Comuna: </strong> ${cliente.comuna.nombre}</p>
                        <p><strong>E-mail: </strong> <a href="mailto:${cliente.usuario.email}">${cliente.usuario.email}</a></p>
                        <p><strong>Telefono Fijo: </strong> ${cliente.telefono}</p>
                        <p><strong>Celular: </strong> ${cliente.celular}</p>
                    </div>
                    <!--/col-->
                    <div class="col-xs-12 col-sm-4">
                        <br/>
                        <button class="btn btn-success btn-block" id="mostrarContrato"><span class="fa fa-file-pdf-o"></span> Mostrar
                            Contrato
                        </button>
                    </div>
                    <!--/col-->
                    <div class="col-xs-12 col-sm-4" >
                        <br/>
                        <button class="btn btn-info btn-block" ng-click="buscarMensualidades()"><span class="fa fa-history"></span> Historial de Pagos
                        </button>
                    </div>
                    <!--/col-->
                    <div class="col-xs-12 col-sm-4">
                        <br/>
                        <button type="button" class="btn btn-primary btn-block dropdown-toggle" aria-expanded="false"
                                data-toggle="dropdown"
                                id="opciones"><span class="fa fa-gear"></span> Options <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li role="presentation"><a href="@{ClientesController.actualizarCliente(cliente.altKey)}"><i class="fa fa-recycle"></i>&nbsp;Actualizar Datos y/o
                                Contrato</a></li>
                            <li role="presentation"><a href="#" id="verFichaDeSalud"><i class="fa fa-plus-circle"></i>&nbsp;Ver Ficha de
                                Salud</a></li>
                        </ul>
                    </div>
                    <!--/col-->
                </div>
                <!--/row-->
            </div>
            <!--/panel-body-->
        </div>
        <!--/panel-->
    </div>
</div>

<table id="mensualidades" class="table table-responsive table-bordered table-hover" style="display: none;">
    <thead >
    <tr class="warning">
        <th class="text-center">Fecha de Pago</th>
        <th class="text-center">Fecha de Vencimiento</th>
        <th class="text-center">Monto Cancelado</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="men in mensualidad">
        <td class="text-center">{{toJsDate(men.fechaPago) | date :'dd/MM/yyyy'}}</td>
        <td class="text-center">{{toJsDate(men.fechaVencimiento) | date:'dd/MM/yyyy'}}</td>
        <td class="text-center">$&nbsp;{{men.montoCancelado | number:0}}</td>
    </tr>
    </tbody>
</table>
</div>
#{i18n /}
<script type="text/javascript">
    var $personaAltKey = "${cliente.altKey}";
    $(function () {
        $("#mostrarContrato").click(function () {
            window.open("/generarContrato/" + $personaAltKey);
        });

    });
    app.controller('fichaCliente',function($scope,$http){
        $scope.buscarMensualidades = function (){
            $http.get('/buscarMensualidades/'+$personaAltKey).success(function(mensualidades){
                $("#mensualidades").show();
                console.log(mensualidades);
                $scope.mensualidad = mensualidades;
                if(mensualidades.length == 0){
                    $.growl({
                        icon: "glyphicon glyphicon-warning-sign",
                        title: "&nbsp;<strong>No registra información</strong><br>",
                        message: i18n('mensualidades.nulas')
                    },{
                        element: 'body',
                        type: "danger",
                        placement : {
                            form: "top",
                            align: "center"
                        },
                       spacing: 10,
                       offset: 20,
                       z_index: 1031,
                       delay: 6000,
                       animate: {
                           enter: 'animated fadeInRight',
                           exit: 'animated fadeOutLeft'
                       }
                    });
                }
            });
        }
        $scope.toJsDate = function (str) {
            if(!str)return null;
            return new Date(str);
        }
    });


    $("#verFichaDeSalud").click(function(){
        $.get("/fichaDeSaludCliente/"+$personaAltKey,function(){

        }).fail(function(){
            $.growl({
                icon: "glyphicon glyphicon-warning-sign",
                title: "&nbsp;<strong>No registra una Ficha de Salud Asociada</strong><br>",
                message: i18n('fichaCliente.notFound')
            },{
                element: 'body',
                type: "danger",
                placement : {
                    form: "top",
                    align: "center"
                },
                spacing: 10,
                offset: 20,
                z_index: 1031,
                delay: 6000,
                animate: {
                    enter: 'animated fadeInRight',
                    exit: 'animated fadeOutLeft'
                }
            });
        });
    });

</script>
