<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h1 style="text-align: center;">Planet Gym</h1>
<br/>
<h2 style="text-align: center;">Contrato de membresía</h2>
<br/>
<br/>
<p style="text-align: justify;">
    El presente contrato es celebrado entre el usuario Juan Manuel Martínez Campos y el gimnasio “Planet GYM”, en la que el (los) usuario(s) del gimnasio se comprometen a realizar el pago de los servicios así como el poder utilizar estas instalaciones en un periodo de un año, que se contará a partir de la fecha marcada en este contrato.
    La asociación con contractual de estas dos partes podrá disolverse por parte de la empresa Planet GYM, por vía unilateral cuando en plena violación al estatuto de ética y cuidado el usuario incurra en violaciones del orden de línea roja especificado en dicho reglamento y en caso de que se finalice este contrato por parte del usuario, deberá realizar su solicitud de baja por lo menos con una semana de anticipación, para no ser acreedor a una compensación del 50% del costo equivalente a un mes.
    Para la celebración de este contrato, las partes quedaremos ajustadas a las siguientes.
    <b>CLAUSULAS:</b>
</p>


    Primera.- Body fitness Atlacolpan, pondrá a disposición de los usuarios las instalaciones, adecuándose plenamente al tipo de membresía elegida y al reglamento interno de esta institución deportiva.

    En compensación correspondiente, el usuario pagará a Body fitness Atlacolpan, una compensación económica que será de $ 520.00  pesos M/N mensual, correspondientes al tipo de membresía seleccionada y que podrán pagarse por adelantado o mensualmente en la fecha indicada en este contrato; el usuario tendrá la posibilidad de domiciliar su pago en cuenta bancaria, siempre y cuando sea aceptado por la institución bancaria.

    Segunda.- El derecho es intransferible (en el caso de ser personal) y corresponderá a los miembros señalados de la familia (en el plan familiar), sin que se pueda vender o transferir a terceros.

    Tercera.- El usuario permitirá y cederá el uso de sus datos para la formación de un expediente, el cual se mantendrá en secrecía conforme a la ley de datos públicos y permitirá que se le forme y entregue una credencial con chip que llevará los datos y créditos correspondientes, abarcando los pagos y bonificaciones a que sea acreedor.

    Cuarto.- El usuario Acepta plenamente al leer y firmar este contrato que Body fitness Atlacolpan, no reembolsará cuotas de inscripción ya pagadas en el plan mensual, y en el pago anual solo serán reembolsados los meses restantes menos el costo correspondiente a medio mes como compensación.

    Quinto.- Los usuarios usarán su credencial para acceder a las instalaciones y quedan conformes en que por vía informática se lleve registro de sus entradas y salidas así como el que los usuarios se comprometen a conducirse conforme al reglamento de usuarios correspondiente.

    Sexto.- En caso de pérdida de la credencial, se invalidará y se expedirá una nueva, generando un costo extra correspondiente $100.00 pesos.

    Séptimo.- Body fitness Atlacolpan S.A de C.V notificará al usuario de cualquier cambio en el contrato con cinco días de anticipación y sólo en este caso la dimisión por parte del usuario no generará costo alguno en caso de así desearla.

    Octavio.- En caso de destrucción accidental de artículos deportivos o de las instalaciones, el costo será absorbido por Body fitness Atlacolpan S.A de C.V, previo examen y peritaje  y en caso de destrucción dolosa y previa comprobación, Body fitness Atlacolpan S.A de C.V no se hará cargo de los gastos y podrá en caso necesario consignar a la autoridad correspondiente.

    Novena.- Se autoriza con este contrato por parte del usuario a Body fitness Atlacolpan S.A de C.V, para que organice torneos y eventos en las instalaciones así como el que se realicen reparaciones preventivas o correctivas  y clausuras parciales sin que por ello se remunere o reduzca el costo de membresía.

    Décima.- Los bienes, pérdidas o daños que se presenten en relación a los usuarios quedarán fuera de la responsabilidad de Body fitness Atlacolpan S.A de C.V, siendo responsables cada usuario de su casillero y de la seguridad de éste al contar con espacio para dos candados personales y la chapa reglamentaria de la empresa.

    Décimo primera.- El estacionamiento del gimnasio es exclusivo para los usuarios y por ninguna razón podrá transferirse este a terceros, y Body fitness Atlacolpan S.A de C.V, no presta sus espacios de estacionamiento a ningún miembro ajeno a este. Las propinas a los encargados y cuidadores serán responsabilidad del usuario, sabiéndose que con la compra del derecho de estacionamiento, mensualmente se paga el sueldo de los seis cuidadores. Los cuidadores cuentan con su correspondiente gafete y credencial con chip, el cual les da acceso a todos los cajones de estacionamiento, por lo que Body fitness Atlacolpan S.A de C.V exige a sus usuarios que mantengan bien cerrados sus vehículos para evitar inconvenientes. El Servicio de video grabación de estacionamiento lleva un costo de $50.00 pesos mensuales.

    Décimo segunda.- Si al vencimiento de la membresía el usuario no la renueva en el lapso de dos meces, en caso de abrirla se tendrá que realizar trámite nuevo perdiendo sus derechos acumulados, compensaciones y el cajón de estacionamiento, por lo que se deberá seleccionar o asignar un nuevo cajón y se acomodará a los nuevos parámetros de las membresías.

    Décimo tercera.- Como efecto de este contrato el usuario autoriza Body fitness Atlacolpan S.A de C.V, para que le envíe comunicados por su teléfono celular, Facebook, twitter, correo electrónico o correo postal de eventos, promociones, modificaciones o circunstancias relacionadas al gimnasio o a su membresía.

    Décimo cuarta.- Las partes que celebran este contrato, quedan conformes a renunciar a su derecho de a someterse a los tribunales de los estados del país sometiéndose exclusivamente a los del Distrito Federal.

    Décimo quinta.- La recesión de este contrato se causará por incumplimiento de cualquiera de las clausulas establecidas o por fallas graves del reglamento.

    Este contrato es celebrado  en México Distrito Federal  el día 26 de mayo de 2014, en las instalaciones ubicadas en la calle Caballo Ballo No 365-367 de la colonia Ciudad Deportiva Delegación Cuajimalpa.

    Body fitness Atlacolpan S.A de C.V             Usuario contratante
    Lic. Joaquín López Cordero               Juan Manuel Martínez Campos
    Firma                                                   Firma

</body>
</html>