<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<style type="text/css">
    ul li {
        margin-top: 3em;
        text-align: justify;
    }
</style>

<body>
<h1 style="text-align: center;">Reglamento Interno</h1>
<ul>
    <li>Pueden ingresar todos los socios del gimnasio que estén al día con su mensualidad</li>
    <li>Los socios menores de 16 años pueden utilizar el gimnasio solamente, en compañía de una persona adulta
        responsable.
    </li>
    <li>Esta prohibido realizar actividad física con el torso desnudo o sin calzado deportivo (zapatillas).</li>
    <li>Los turnos para el uso de las bicicletas serán de 20 minutos cuando estas sean requeridas.</li>
    <li>Esta prohibido ingerir alimentos y fumar dentro del gimnasio.</li>
    <li>Es obligatorio dejar descargadas las barras y ordenados los discos y mancuernas luego de utilizarlos.</li>
    <li>Será obligación del Socio traer y usar su toalla personal.</li>
    <li>Es obligatorio secar la transpiración que hubiera quedado en los tapizados de cada aparato que usted haya
        usado.
    </li>
    <li>Es obligatorio utilizar camarines.</li>
</ul>
<h4 style="margin-top: 3em;"><strong>Algunas Recomendaciones Básicas para el cuidado de su salud.</strong></h4>
<ul>
    <li>Realizar una entrada en calor previa al ejercicio y una posterior elongación</li>
    <li>Ante cualquier duda en su rutina o con alguna maquina consulte al profesor a cargo del
        gimnasio.
    </li>
</ul>
<p style="margin-top: 8em;">
    <strong>
        Sr. Socio, el incumplimiento de algunas de estas normas, dará derecho a poner término al contrato.
    </strong>
</p>

</body>
</html>