<div class="modal fade" id="pagoMensualidad">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center">Ingresar Pago de Mensualidad</h4>
                <h5 class="text-center text-muted">Pago efectuado por el cliente.</h5>
            </div>
            <div class="modal-body">
            #{if mensualidad !=null && mensualidad.montoCancelado.equals(contrato.tipoPlan.valorTotalPlan)}
                <div class="alert alert-success">
                    <p>El plan ya está cancelado en su totalidad.</p>
                </div>
            #{/if}
            #{else }
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="fechaVencimiento">Fecha de Vencimiento&nbsp;:</label>

                        <div class="col-md-5">
                            <p id="fechaVencimiento"
                               class="form-control alert-danger">#{if mensualidad != null}${mensualidad.fechaVencimiento.format('dd/MM/yyyy')}#{/if}#{else }
                                Primera Mensualidad#{/else}</p>
                            <span class="help-block">Ultimo plazo que dispone el cliente para renovar su membresía.</span>
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="numeroBoleta">Nº de Boleta&nbsp;:</label>

                        <div class="col-md-5">
                            <input id="numeroBoleta" name="numeroBoleta" type="text" placeholder=""
                                   class="form-control input-md">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="fechaDePago">Fecha de Pago&nbsp;:</label>

                        <div class="col-md-5">
                            <input id="fechaDePago" name="fechaDePago" type="text"
                                   class="form-control input-md datepicker">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="montoMensualidad">Monto a Cancelar&nbsp;:</label>

                        <div class="col-md-5">
                        <input id="montoMensualidad" name="montoMensualidad" type="text"
                               class="form-control input-md" placeholder="#{if contrato !=null}#{if mensualidad != null}${mensualidad.montoCancelado.formatCurrency('CLP').raw()}#{/if}#{else }${contrato.tipoPlan.valorTotalPlan.formatCurrency('CLP').raw()}#{/else}#{/if}">
                            <span class="help-block">Monto que debe ser cancelado</span>
                        </div>
                    </div>
                </form>
            #{/else}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            #{if mensualidad !=null && !mensualidad.montoCancelado.equals(contrato.tipoPlan.valorTotalPlan)}
                <button type="button" class="btn btn-success">Ingresar Pago</button>
            #{/if}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#numeroBoleta,#montoMensualidad").keypress(function (e) {
        var charCode = (e.which) ? e.which : e.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
    });
</script>