<p>
    <small>Claudio Acuña - Todos los Derecho Reservados</small>
</p>
<a href="www.github.com" target="_blank" class="help" title="Github"><i
        class="fa fa-github fa-2x"></i></a>&nbsp;&nbsp;&nbsp;
<a href="www.facebook.com" target="_blank" class="help" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
<p class="footer"></p>

<script type="text/javascript">
    $(function () {
        var today = new Date();
        $(".footer").html(today.getDate() + "/" + today.getMonth() + "/" + today.getFullYear());

    });

</script>