<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>Nuevo Producto</legend>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="selectbasic">Select Basic</label>
            <div class="col-md-4">
                <select id="selectbasic" name="selectbasic" class="form-control">
                    <option value="1">Option one</option>
                    <option value="2">Option two</option>
                </select>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="nombreProducto">Nombre del Producto</label>
            <div class="col-md-5">
                <input id="nombreProducto" name="nombreProducto" type="text" placeholder="" class="form-control input-md">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="cantidadDisponible">Cantidad Disponible</label>
            <div class="col-md-5">
                <input id="cantidadDisponible" name="cantidadDisponible" type="text" placeholder="" class="form-control input-md">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="precio">Precio</label>
            <div class="col-md-5">
                <input id="precio" name="precio" type="text" placeholder="" class="form-control input-md">

            </div>
        </div><!-- Button -->
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="form-group col-md-6">
                <label class="col-md-4 control-label" for="guardarProducto"></label>
                <div class="col-md-4">
                    <button id="guardarProducto" name="guardarProducto" class="btn btn-success">Guardar</button>
                </div>
            </div>
        </div>
    </fieldset>
</form>
