<h3>Buscador de Personas</h3>
<br/>
<div class="row" ng-controller="PostsCtrl">
    <form class="form-horizontal">
    <form>
        <div class="input-group custom-search-form col-sm-3">
            <input type="text"  class="form-control"/>
              <span class="input-group-btn">
             <input type="submit" class="btn btn-default" ng-click="buscar()" value="Buscar"/>
             </span>
        </div>
    </form>
    <br/>
        <div id="personas" style="display: none;">
            <table ng-table="tablaPersonas" class="table table-hover table-bordered">
                <tr ng-repeat="per in $data">
                    <td data-title="'Nombres'" sortable="'nombres'">{{per.nombres}}</td>
                    <td data-title="'Apellido Paterno'">{{per.apellidoPaterno}}</td>
                    <td data-title="'Apellido Materno'">{{per.apellidoMaterno}}</td>
                    <td data-title="'rut'" sortable="'rut'">{{per.rut}}</td>
                </tr>
            </table>
        </div>

</div>

<script type="text/javascript">

    var app = angular.module("admin",['ngTable']);
    app.controller("PostsCtrl", function ($scope, $http, ngTableParams, $filter) {
        $scope.buscar = function () {
            $http.get('/administrador/{altKey}/getPersonas').success(function (persona) {
                $scope.personas = persona;
                $("#personas").show();
                var data = $scope.personas
                console.log(data.length);
                $scope.tablaPersonas = new ngTableParams({
                    page: 1,            // show first page
                    count: 10,           // count per page
                    sorting: {
                        name: 'asc'     // initial sorting
                    }
                }, {
                    total: data.length, // length of data
                    counts: [],
                    getData: function($defer, params) {
                        var orderedData = params.sorting() ?
                                $filter('orderBy')(data, params.orderBy()) :
                                data;
                        $defer.resolve(orderedData.slice((params.page() - 1) * params.count(), params.page() * params.count()));
                    }
                });
            });

        }


    });

</script>