<div class="row" ng-controller="clientes">
    <form class="form-horizontal well">
        <fieldset>
            <!-- Form Name -->
            <legend>Buscador de Clientes</legend>
            <!-- Multiple Radios -->
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="col-md-4 control-label" for="radios">Sexo</label>

                    <div class="col-md-4">
                        <div class="radio">
                            <label for="radios-0">
                                <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
                                Masculino
                            </label>
                        </div>
                        <div class="radio">
                            <label for="radios-1">
                                <input type="radio" name="radios" id="radios-1" value="2">
                                Feminino
                            </label>
                        </div>
                    </div>
                </div>

                <!-- Select Basic -->
                <div class="form-group col-md-6 col-md-pull-1">
                    <label class="col-md-4 control-label" for="selectbasic">Comuna</label>
                    <div class="col-md-8">
                        <select id="selectbasic" name="selectbasic" class="form-control">
                            <option value="1">Option one</option>
                            <option value="2">Option two</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                </div>
                <!-- Button (Double) -->
                <div class="form-group col-md-2">
                    <button id="" name="" class="btn btn-success" ng-click="buscar()">Buscar</button>
                </div>
            </div>

        </fieldset>
    </form>
    <br/>
    <div id="clientes" style="display: none;">
        <div class="row">
            <div class="col-md-9"></div>
            <div class="input-group col-md-3">
                <input type="text" class="form-control" placeholder="Search" ng-model="buscadorClientes" name="q">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </div>
        <br/>
        <table ng-table="tablaClientes" class="table table-hover table-bordered">
            <tr ng-repeat="per in $data">
                <td data-title="'Nombres'" class="text-center" sortable="'nombres'">{{per.nombres}}&nbsp;&nbsp;{{per.apellidoPaterno}}&nbsp;&nbsp;{{per.apellidoMaterno}}</td>
                <td data-title="'Rut'" class="text-center" sortable="'rut'">{{per.rut}}</td>
                <td data-title="'Acción'" class="text-center"><a href="/fichaCliente/{{per.altKey}}"><i class="fa fa-search help" title="Ver Cliente"></i></a></td>
            </tr>
        </table>
    </div>
</div>
<script type="text/javascript">
    app.controller("clientes", function($scope, $http, ngTableParams,$filter) {
        $scope.buscar = function(){
            $http.post('/buscar/getClientes').success(function(clientes){
                $scope.clientes = clientes;
                $("#clientes").show();
                //console.log(profesores);
                var data = $scope.clientes;
                $scope.tablaClientes = new ngTableParams({
                    page: 1,            // show first page
                    count: 6,           // count per page
                    sorting: {
                        name: 'asc'     // initial sorting
                    }
                }, {
                    total: data.length, // length of data
                    counts: [],
                    getData: function($defer, params) {
                        var buscadorClientes = buscandoClientes();
                        var orderedData = params.sorting() ?
                                $filter('orderBy')(buscadorClientes, params.orderBy()) :
                                data;
                        params.total(buscadorClientes.length); // set total for recalc pagination
                        $defer.resolve(orderedData.slice((params.page() - 1) * params.count(), params.page() * params.count()));
                    },
                    $scope: { $data: {} }
                });

                $scope.$watch("buscadorClientes", function () {
                    $scope.tablaClientes.reload();
                });

                var buscandoClientes = function() {
                    if($scope.buscadorClientes){
                        return $filter('filter')(data,$scope.buscadorClientes);
                    }
                    return data;
                }
            });
        }
    });
</script>