#{extends 'mainAdmin.html' /}
#{set title:'Home Administrador' /}
<div class="row">
    <div class="col-sm-2">
        <ul class="nav nav-pills nav-stacked" role="tablist">
            <li><a href="#buscadorDePersonas" role="tab" data-toggle="pill"><i class="fa fa-home "></i> Inicio</a></li>
            <li><a href="#buscadorDeClientes" role="tab" data-toggle="pill"><i class="fa fa-user "></i> Buscar Cliente</a></li>
            <li><a href="#buscadorDeProfesores" role="tab" data-toggle="pill"><i class="fa fa-mortar-board "></i> Buscar Profesor</a></li>
        </ul>
    </div>
    <div class="col-sm-10 tab-content">
        <div class="tab-pane active" id="buscadorDePersonas">
        #{include 'InicioAdmin/buscadorDePersonas.html'/}
        </div>
        <div class="tab-pane" id="buscadorDeClientes">
        #{include 'InicioAdmin/buscadorDeClientes.html'/}
        </div>
        <div class="tab-pane" id="buscadorDeProfesores">
        #{include 'InicioAdmin/buscadorDeProfesores.html'/}
        </div>
    </div>

</div>

