<form class="form-horizontal" name="personal" id="nuevopersonalForm" action="@{Personal.nuevoPersonalInterno()}"
      method="post">
    <fieldset>
        <legend>Tipo de Usuario</legend>
        <div class="form-group">
            <label class="col-md-4 control-label" for="tipoDePersonal">Tipo de Usuario a Crear</label>
            <div class="col-md-6">
                <select id="tipoDePersonal" name="tipoDePersonal" class="form-control">
                    <option value="">Seleccione..</option>
                    <option value="1">Administrador</option>
                    <option value="3">Vendedor/Administrativo</option>
                    <option value="4">Profesor</option>
                </select>
            </div>
        </div>
        <br/>
        <div id="formularioRegistro">
            <legend>Registro de Personal Interno &nbsp;<i class="fa fa-user"></i></legend>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="col-md-4 control-label" for="nombres">Nombres :</label>

                    <div class="col-md-8">
                        <input id="nombres" name="personal.nombres" type="text" placeholder="Nombres"
                               value="${flash['personal.nombres']}" class="form-control input-md" disabled>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="col-md-4 control-label" for="rut">R.U.T :</label>

                    <div class="col-md-8">
                        <input id="rut" name="personal.rut" type="text" placeholder="Rut" class="form-control input-md "
                               value="${flash['personal.rut']}" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="col-md-4 control-label" for="apellidoMaterno">Apellido Materno:</label>

                    <div class="col-md-8">
                        <input id="apellidoMaterno" name="personal.apellidoMaterno" type="text"
                               placeholder="Apellido Materno"
                               class="form-control input-md " value="${flash['personal.apellidoMaterno']}" disabled>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="col-md-4 control-label" for="apellidoPaterno">Apellido Paterno: </label>

                    <div class="col-md-8">
                        <input id="apellidoPaterno" name="personal.apellidoPaterno" type="text"
                               placeholder="Apellido Paterno" disabled
                               class="form-control input-md " value="${flash['personal.apellidoPaterno']}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="col-md-4 control-label" for="fechaNacimiento">Fecha de Nacimiento:</label>

                    <div class="col-md-8">
                        <input id="fechaNacimiento" name="fechaNacimiento" type="text"  disabled
                               class="form-control input-md datepicker " value="${flash['fechaNacimiento']}">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="col-md-4 control-label" for="sexo">Sexo:</label>

                    <div class="col-md-4">
                        <div class="radio">
                            <label for="sexo-0">
                                <input type="radio" name="personal.genero" id="sexo-0" class="" value="0" disabled
                                       checked="checked" ${flash['personal.genero']} >
                                Masculino
                            </label>
                        </div>
                        <div class="radio">
                            <label for="sexo-1">
                                <input type="radio" name="personal.genero" class="" id="sexo-1" disabled
                                       value="1" ${flash['personal.genero']}>
                                Femenino
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="col-md-4 control-label" for="region">Region:</label>

                    <div class="col-md-8">
                        <select id="region" name="personal.region" class="form-control" disabled >
                            <option value="">Seleccione..</option>
                        #{list items:regiones, as:'region'}
                            <option value="${region.id}" ${flash['region']}>${region.nombre}</option>
                        #{/list}
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="col-md-4 control-label" for="provincia">Provincia:</label>

                    <div class="col-md-8">
                        <select id="provincia" name="personal.provincia" class="form-control" disabled>
                            <option value="" ${flash['provincia']}>Seleccione..</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="col-md-4 control-label" for="comuna">Comuna:</label>

                    <div class="col-md-8">
                        <select id="comuna" name="personal.comuna" class="form-control" disabled>
                            <option value="" ${flash['personal.comuna']}>Seleccione..</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-9 col-md-pull-1">
                    <label class="col-md-4 control-label" for="direccion">Dirección:</label>

                    <div class="col-md-8">
                        <input id="direccion" name="personal.direccion" type="text" placeholder="Dirección" disabled
                               class="form-control input-md " value="${flash['personal.direccion']}">
                    </div>
                </div>
                <div class="col-md-3">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="col-md-4 control-label" for="telefono">Telefono:</label>

                    <div class="col-md-8">
                        <input id="telefono" name="personal.telefono" type="text" placeholder="Telefono" disabled
                               class="form-control input-md " value="${flash['personal.telefono']}">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="col-md-4 control-label" for="celular">Celular:</label>

                    <div class="col-md-8">
                        <input id="celular" name="personal.celular" type="text" placeholder="Celular" disabled
                               class="form-control input-md " value="${flash['personal.celular']}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-9 col-md-pull-1">
                    <label class="col-md-4 control-label" for="email">E-mail:</label>

                    <div class="col-md-8">
                        <input id="email" name="personal.email" type="text" placeholder="E-mail" disabled
                               class="form-control input-md " value="${flash['personal.email']}">
                    </div>
                </div>
                <div class="col-md-3">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="form-group col-md-8 col-md-push-1">
                    <label class="col-md-6 control-label" for="cancelar"></label>

                    <div class="col-md-6">
                        <button type="button" id="registrar" class="btn btn-success disabled">Guardar <i class="fa fa-check"></i>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </fieldset>
</form>

#{i18n /}
<script type="text/javascript">

    $('#tipoDePersonal').change(function () {
        if($('#tipoDePersonal').val() != ''){
            $('#formularioRegistro select,input').prop('disabled',false);
            $('#registrar').removeClass('disabled');
        }else{
            $('#formularioRegistro select,input').prop('disabled',true);
            $('#registrar').addClass('disabled');
        }
    });

    $('#fechaNacimiento').datepicker({
        endDate: "0",
        language: 'es',
        autoclose: true
    });

    $("#celular,#telefono").keypress(function (e) {
        var charCode = (e.which) ? e.which : e.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
    });


    $("#region").change(function () {
        var idRegion = $("#region").val();
        var selectProvincia = $("#provincia");
        var selectComuna = $("#comuna");
        if (idRegion == '') {
            selectProvincia.empty();
            selectComuna.empty();
            selectProvincia.append($('<option>').text("Seleccione..").attr('value', ''));
            selectComuna.append($('<option>').text("Seleccione..").attr('value', ''));
        }
        $.ajax({
            url: "/admin/provincias/" + idRegion,
            method: "GET",
            success: function (provincias) {
                selectProvincia.empty();
                selectProvincia.append($('<option>').text("Seleccione..").attr('value', ''));
                $.each(provincias, function (k, value) {
                    selectProvincia.append($('<option>').text(value.nombre).attr('value', value.id));
                });
            }
        });
    });

    $("#provincia").change(function () {
        var idProvincia = $("#provincia").val();
        var selectComuna = $("#comuna");
        if (idProvincia == '') {
            selectComuna.empty();
            selectComuna.append($('<option>').text("Seleccione..").attr('value', ''));
        }
        $.ajax({
            url: "/admin/comunas/" + idProvincia,
            method: "GET",
            success: function (comunas) {
                selectComuna.empty();
                $.each(comunas, function (k, value) {
                    selectComuna.append($('<option>').text(value.nombre).attr('value', value.id));
                });
            }
        });
    });
    $("#rut").Rut({
        on_error: function () {
            bootbox.alert("Rut no valido", function () {
                $("#rut").val('');
            });
        }
    });

    var $clienteForm = $("#nuevopersonalForm");
    $("#registrar").click(function(){
        bootbox.confirm(i18n('nuevoCliente'),function(result){
            $("#nuevopersonalForm ul.errors-fields").remove();
            if(result){
                $.ajax({
                    url : "@{Personal.nuevoPersonalInterno()}",
                    method: "post",
                    data: $clienteForm.serialize(),
                    success: function(resp){
                        bootbox.alert( i18n('registro.personal.interno'),function(){
                            var $input = $(":input", $clienteForm);
                            $input.val('');
                        });
                    },
                    error :function(resp){
                        console.log(resp);
                        if (resp.status == 400) {
                            $.each(resp.responseJSON.fieldErrors, function(name, errors){
                                var $input = $(":input[name='" + name + "']", $clienteForm);
                                $input.closest("div.form-group").addClass("has-error");
                                var $ul = $("<ul class='errors-fields list-inline'></ul>");
                                $.each(errors,function(i,elem){
                                    var $li = $("<li class='text-danger'/>");
                                    $li.text(elem);
                                    $ul.append($li);
                                });
                                $input.after($ul);
                                console.log(errors);
                            });
                            console.log(resp.responseJSON);
                        }
                    }
                });

            }
        });

    });

</script>