<!DOCTYPE html>

<html>
<head>
    <title>#{get 'title' /}</title>
    <meta charset="${_response_encoding}">
    <!--Bootstrap Css-->

    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/css/bootstrap.min.css'}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/css/font-awesome.min.css'}"/>
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
#{get 'moreStyles' /}
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    <!-- JavaScript Bootstrap-->
    <script src="@{'/public/javascripts/jquery-1.11.0.min.js'}" type="text/javascript"
            charset="${_response_encoding}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/bootstrap.min.js'}"></script>
#{get 'moreScripts' /}
</head>

<body>
<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">GYM</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="@{Inicio.index()}">Inicio</a></li>
                <li class=""><a href="@{Inicio.acercaDe()}">Acerca</a></li>
                <li class=""><a href="@{Inicio.contacto()}">Contacto</a></li>
            </ul>

                <button type="button" class="btn btn-success navbar-btn navbar-right" id="logeo" data-toggle="modal" data-target="#login">Iniciar Sessión</button>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 70px;">
    #{ifErrors }
        <div class="alert alert-danger small alert-dismissible text-center"  role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <strong>#{error 'usuario' /}</strong>  <br/>
            <strong>#{error 'password' /}</strong>
        </div>
    #{/ifErrors}
    #{if 'error'}
        <div class="alert alert-danger small alert-dismissible text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                    class="sr-only">Close</span></button>
            <strong>${error}</strong>
        </div>
    #{/if}

#{doLayout /}

</div>

<div class="text-center container">
    <br/>
    <hr/>
#{Footer/}
</div>

#{Login /}
<script type="text/javascript">
    $(function () {
        $(".help").tooltip({
            placement: "bottom",
            toggle: "tooltip"
        });


    });

</script>

</body>
</html>
