<!DOCTYPE html>

<html>
<head>
#{Librerias /}
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/css/paginaPrincipal.css'}"/>
</head>

<body>
<!-- Fixed navbar -->

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@{Inicio.index()}">Planet Gym</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="@{Inicio.index()}"><i class="fa fa-home"></i>&nbsp;Inicio</a></li>
                <li class=""><a href="@{Inicio.acercaDe()}"><i class="fa fa-group"></i>&nbsp;Acerca</a></li>
                <li class=""><a href="@{Inicio.contacto()}"><i class="fa fa-comment-o"></i>&nbsp;Contacto</a></li>
            </ul>

                <button type="button" class="btn btn-success navbar-btn navbar-right" id="logeo" data-toggle="modal" data-target="#login"><i class="fa fa-sign-in">&nbsp;Login</i></button>
        </div>
    </div>
</div>
<div class="container" id="paginaPrincipal" style="margin-top: 70px;">
    #{ifErrors }
        <div class="alert alert-danger small alert-dismissible text-center"  role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <strong>#{error 'usuario' /}</strong>  <br/>
            <strong>#{error 'password' /}</strong>
        </div>
    #{/ifErrors}
    #{if error!= null}
        <div class="alert alert-danger small alert-dismissible text-center"  role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                    class="sr-only">Close</span></button>
            <strong>${error}</strong>
        </div>
    #{/if}

#{doLayout /}

</div>

#{Login /}
<footer class="text-center" id="footer">
    <br/>
#{Footer/}
</footer>
<script type="text/javascript">
    $(function () {
        $(".help").tooltip({
            placement: "bottom",
            toggle: "tooltip"
        });


        $("#logeo").on("click", function(){
            $(".alert").hide();
        });
    });

</script>

</body>
</html>
