<!DOCTYPE html>

<html ng-app="admin" >
<head>
 #{Librerias/}
</head>
<body>
<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Planet Gym</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="@{InicioAdmin.index()}"><i class="fa fa-home"></i>&nbsp;Inicio</a></li>
                <li><a href="@{InicioAdmin.clientes()}"><i class="fa fa-group"></i>&nbsp;Clientes</a></li>
                <li><a href="@{InicioAdmin.clases()}"><i class="fa fa-university"></i>&nbsp;Clases</a></li>
                <li><a href="#contact"><i class="fa fa-money"></i>&nbsp;Mensualidad</a></li>
                <li><a href="@{InicioAdmin.profesores()}"><i class="fa fa-mortar-board"></i>&nbsp;Personal Interno</a></li>
                <li><a href="#contact"><i class="fa fa-paper-plane"></i>&nbsp;Contactos</a></li>
            </ul>
            <button type="button" class="btn btn-danger navbar-btn navbar-right help" title="Desconectar" id="cerrarSession"><i class="fa fa-sign-out">&nbsp;Log out</i></button>
            <p class="navbar-text navbar-right"></p>
            <p class="navbar-text navbar-right" ><i class="fa fa-user"></i>&nbsp;${session.get("user")}</p>
        </div>
    </div>
</div>
<script type="text/javascript">
    var app = angular.module("admin",[]);
</script>
<div class="container" id="main-body" style="margin-top: 70px;">
#{doLayout /}
</div>

<footer class="text-center" id="footer">
    <br/>
    <hr/>
#{Footer/}
</footer>

<script type="text/javascript">
    $(function () {
        $('.datepicker').datepicker({
            format: "dd/mm/yyyy",
            autoclose: true,
            clearBtn: true,
            language: 'es',
            weekStart: 1,
            keyboardNavigation: false
        });
        $("#cerrarSession").click(function(){
            location.href ="@{Inicio.index()}";
        });

        $(".help").tooltip({
            placement: "bottom",
            toggle: "tooltip"
        });
    });

</script>

</body>
</html>